.form-container {
    max-width: 45vw;
    margin: 2rem auto;
    padding: 20px;
    background-color: #85c2ff;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: left;
    margin-bottom: 15px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    color: #444;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    background-color: white;
    box-sizing: border-box;
    outline: none;
}

.submit-btn-container {
    text-align: center;
    margin-top: 15px;
}

.submit-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 12px;
}
